
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta name="keywords" content="@ViewBag.MetaKeywords">
    <link rel="canonical" href="@ViewBag.CanonicalURL" />
    <meta name="google-site-verification" content="RwkJI8xYU_WnOF3vKWBnHsmRl6v7aqr-At5tLWq14zk" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Exclusive Painters</title>
    @Styles.Render("~/Content/css")
    <link href=@Url.Content("~/Content/font-awesome.css") rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link href=@Url.Content("~/Content/custom.css") rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>


    <!-- Google Tag Manager -->

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T9QQN37');</script>
    <!-- End Google Tag Manager -->
    <style>
        .modal-title {
            text-align: center;
            font-size: large;
            font-weight: 700;
        }

        .modal-header {
            border-bottom: 0;
        }

        .navbar-toggle {
            background-color: #333;
        }

        .popLogin {
            justify-content: center;
            display: flex;
        }

        .customeInputWidth {
            max-width: 100%;
        }

        .marginTop {
            margin-top: 10px;
        }

        .floatLeft {
            float: left;
        }

        .floatRight {
            float: right;
        }
    </style>
</head>
<body>

    @Html.Partial("_Navbar")
    <div class="container-fluid">

        @RenderBody()
        <hr style="border:none" />
        <footer>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <h3>Contact</h3>
                        <div class="col-xs-6 col-md-4">

                            <ul style="display:grid;">
                                <li class="glyphicon glyphicon-map-marker marginBottom20"><span class="marginRight10 "> Mount Albert,<br>Auckland NZ</span></li>
                                <li class="glyphicon glyphicon-earphone marginBottom20"><a class="hoverLine" href="tel:0225276078" style="border:none;"><span class=" marginRight10"> Phone<br>0225276078</span></a></li>
                                <li class=" glyphicon glyphicon-envelope  marginBottom20"><a class="hoverLine" href="mailto:exclusivepaintersltd@gmail.com" style="border:none;"><span class="marginRight10"> Email <br> exclusivepaintersltd@gmail.com</span></a></li>
                            </ul>

                        </div>
                        <div class="col-xs-12 col-md-8">
                            <div class="row">
                                <div class="col-md-4" alt="" style="margin:10px;"><img class="row_poster" src="~/Content/Images/paintingbrand/resene.jpg" alt="" /></div>
                                <div class="col-md-4" alt="" style="margin:10px;"><img class="row_poster" src="~/Content/Images/paintingbrand/dulux.jpg" alt="" /></div>

                                <!--
        <div class="col-md-2" alt="" style="margin:10px;"><img class="row_poster" src="~/Content/Images/paintingbrand/ecodec.png" alt="" /></div>
    -->
                            </div>
                        </div>


                    </div>
                    <div class="row " id="customfooter">
                        <ul style="list-style:none;display:flex;justify-content:center">
                            <li style="margin-right:50px">
                                <i style="text-align:center">&copy; Copyright @DateTime.Now.Year - Exclusive Painters</i>
                            </li>
                            <li style="margin-right:40px">
                                <a href="https://www.facebook.com/exclusivepro.painters/" class="hoverLine"> <i class="fa fa-facebook-square" style="font-size:20px"></i></a>
                            </li>
                           <li style="margin-right:40px"> <a href="https://www.instagram.com/exclusivepainters/" class="hoverLine">  <i class="fa fa-instagram" style="font-size:20px"></i></a>
                            </li >
                           
                            <li>
                                <i class="fa fa-google-plus" style="font-size:20px"></i>
                            </li>
                            <li>
                                <a class="hoverLine marginRight10" href="mailto:pankajpuri019@gmail.com"> <span>Marketing Page Designed By:Pankaj Puri</span></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <script>

        var secondNav = document.getElementById("secondNav");
        var firstNav = document.getElementById("firstNav");
        var sticky = secondNav.offsetTop;



        window.onscroll = function myFunction() {
            if (window.scrollY > firstNav.offsetHeight) {
                firstNav.style.visibility = "hidden";
            }
            else {
                firstNav.style.visibility = "visible";
            }

            if (window.pageYOffset >= sticky && window.scrollY > 300) {
                secondNav.style.top = "0px";
                secondNav.classList.add("navbar-fixed-top");
                secondNav.classList.add("secondNavTransition");


            }
            else {
                secondNav.classList.remove("navbar-fixed-top");
                secondNav.classList.remove("secondNavTransition");
                secondNav.style.top = "50px";


            }


        };

    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
