@model www.exclusivepainters.co.nz.Models.PersonDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address.FlatUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.FlatUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Register.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Register.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
